/* Each book is in a section */
section {
    border:2px solid orange;
    padding:5px;
    margin-bottom:5px;
    color:maroon;
}

h1 {
    font-family:Georgia;
    margin:0;
}

h2 {
    margin:0;
}

p {
    font-family:Helvetica;
}

.onSale {
    background-color:yellow;
}

#monthlyBestSeller {
    font-size:18px;
}
